---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { prepareImages } from "../../utils/images";

export async function getStaticPaths() {
  const res = await fetch("http://localhost:4000/api/products");
  const products = await res.json();

  return products.docs.map((product) => {
    return {
      params: {
        slug: product.id,
      },
      props: {
        title: product.title,
        description: product.description,
        gallery: prepareImages(product.gallery, ["thumbnail"]),
      },
    };
  });
}

const { title, description, gallery } = Astro.props;
---

<BaseLayout title={`${title} | 6:52`}>
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <div
        class="lg:gap-x-8 lg:gap-y-10 lg:grid lg:grid-cols-7 lg:grid-rows-1 xl:gap-x-16"
      >
        <div class="lg:col-span-4 lg:row-end-1 space-y-3">
          {
            gallery.map(({ src, width, height, alt, srcset }) => (
              <picture>
                <img
                  src={src}
                  alt={alt}
                  width={width}
                  height={height}
                  srcset={srcset}
                  decoding="async"
                  sizes="100vw"
                />
              </picture>
            ))
          }
        </div>

        <div
          class="mx-auto lg:col-span-3 lg:max-w-none lg:mt-0 lg:row-end-2 lg:row-span-2 max-w-2xl mt-14 sm:mt-16"
        >
          <div class="sticky top-3">
            <h1 set:html={title} />
            <p set:html={description} />
            <button
              class="items-center text-sm active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full lg:w-auto rounded-lg bg-black border-white/20 hover:bg-gray-600 text-white"
              type="button"
            >
              Купить
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
